#del {
     background: red;
     border-radius: 3px;
     padding: 4px;
     margin: 5px;
     color: white;
     text-decoration: dashed !important;

}

li {
    margin: 10px;

}

.done {
       text-decoration: line-through;
}